################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tabular_WorldWideImporters_LTD/bin/Data/db.0.db
